/*html {
    background-image: linear-gradient(to bottom right, rgb(220, 255, 24), rgb(206, 15, 15));
}*/
h1 {
    margin-left: auto;
    margin-right: auto;
    width:70%;
    text-align: center;
    height: 10%;
    font-size: 700%;
}
a {
    text-decoration: none;
    background-color: none;
    padding: 2px;
    color: #284fff;
    font-weight: bold;
}
a:hover {
    border-style:dashed;
    border-width:1px;
}
ul {
    list-style-type: none;
}
#nav {
    margin: 20px auto;
    height: 40px;
}         
#nav ul {
    list-style: none;
    margin-left: 50px;
}           
#nav li {
    display: inline;
    float:left;
}           
#nav a {
    line-height: 40px;
    text-decoration: none;
    padding: 20px 20px;
}           
.nav {
    border: 1px solid #ccc!important;
    padding:0px;
    border-radius: 16px!important;
}
.rbox {
    border: 1px solid #ccc!important;
    padding:5px;
    border-radius: 16px!important;
}
.box {
    border: 1px solid #ccc!important;
}
